body {
    font-family: 'Roboto', sans-serif !important;
}

.beta-note {
    background-color: rgb(255, 238, 0) !important;
}

.beta-note button {
    background: none;
    border: none;
    font-size: 20px !important;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.beta-note button:hover {
    color: slategray
}

.header-right ul {
    text-align: right;
}

.header-right ul li {
    list-style: none;
    font-size: 16px;
}

.header-top {
    margin-bottom: 0 !important;
}

.nav-elements > li > a {
    text-transform: uppercase !important;
    font-weight: 500;
}

.navbar {
    background-color: #810d0d;
    padding: 0 !important;
}

.dropdown-menu {
    z-index: 10;

}

.navbar .nav-link:hover {
    background-color: #a50a0a;
}

.active-link {
    background-color: #a50a0a;
}

/* Set the border color */

.custom-toggler.navbar-toggler {
    border: 0 !important;
}

/* Setting the stroke to green using rgb values (0, 128, 0) */

.custom-toggler .navbar-toggler-icon {
    background-image: url(
    "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.navbar .nav-link {
    color: white !important;
    font-size: 17px;
    padding: 15px 25px !important;
}

.search-section button {
    background: #ac0a0a;
    color: white;
    border-radius: unset;
}

.search-section button:hover {
    color: #bebebe;
}

.search-section input {
    border-radius: unset;
}

/*   MEGA MENU   */
.megamenu {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border: none !important;
}

.col-megamenu {
    margin: 10px 5px 20px 5px;
}

.col-megamenu h6 {
    font-size: 18px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

.col-megamenu ul li a {
    text-decoration: none;
    color: #555;
    width: 100%;
    display: block;
    padding: 5px 10px;
}

.col-megamenu ul li {
    border-radius: 5px;
    transition: 100ms;
}

.col-megamenu ul li a:hover {
    color: #000;
}

.col-megamenu ul li:hover {
    background-color: #f5f5f5;
}


/* MAP */
#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}

/* BLOG */
.blog_cover {
    max-width: 350px!important;
    max-height: 200px!important;
}
.blog-title-link {
    text-decoration: none;
}
.blog-title-link h2{
    text-decoration: none;
    color: black;
    transition: 200ms;
}

.blog-title-link:hover h2{
    color: #d20505;
}

/* Footer */
footer {
    background-color: #1a1a1a;
}

footer ul {
    padding: 0;
    margin: 0;
}

footer ul li ul {
    margin-left: 20px;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    color: #fff !important;
}

footer ul li {
    list-style: none;
}

footer h5 {
    color: white;
    display: block;
}


footer ul li {
    color: #b3b3b3;
}

footer ul li a {
    color: #b3b3b3;
}
.under-footer {
    background-color: #000000;
}
.copyright-section p {
    color: white;
}

.copyright-section a {
    color: white;
}

@media all and (max-width: 992px) {
    footer ul li{
        text-align: left!important;
    }
}


/* Cards */
.card {
    overflow: hidden;
    border-radius: 0 !important;
    border-bottom: 1px solid grey;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
}

.home-title {
    font-size: 32px !important;
    font-weight: bold;
    border-bottom: 1px solid black;
    color: #212121;
    padding: 10px 0;
    margin: 50px 0 !important;
}

.home-title:first-child {
    margin: 0 0 50px 0 !important;
}

.inner-card:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.card-thumbs {
    margin: 50px 0;
}

.card-thumbs a {
    text-decoration: none;
}

.card img {
    border: none !important;
}

.inner-card {
    transition: 120ms;
    max-width: 350px;
    border: 1px solid #d0d0d0;
}

.card-img-top {
}

.card-title {
    color: black;
    font-size: 16px;
    margin: 0 !important;
}

.card-title p {
    padding: 0;
    margin: 0;
}

.card-title span {
    font-size: 18px;
    font-weight: bold;
}

.card-title .price-tag {
    border-top: 1px solid #d0d0d0;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-size: 14px;
    color: #555;
}

.kat-name {
    font-weight: 500;
}

/* TERMEK */
.price {
    font-size: 20px;
}

.price span {
    color: red;
    font-weight: bold;
    font-size: 24px;
}

.oneProductUrl {
    text-decoration: none;
}

.product-name {
    font-weight: 500;
    color: black!important;
    padding: 10px 0;
    transition: 150ms ease-in;
}
.small-product-image {
    transition: 200ms;
    margin: 30px 20px;
}
.oneProductUrl:hover .product-name {
    color: red!important;
}
.paletta {
    margin: 2px!important;
}

/* FEATURE CARDS */

.feature-cards {
    background-color: #f1f1f1;
    text-align: center;
}

.feature-cards img {
    user-drag: none!important;
    -webkit-user-drag: none!important;
    user-select: none!important;
    -moz-user-select: none!important;
    -webkit-user-select: none!important;
    -ms-user-select: none!important;
}

.feature-cards > div {
    padding: 20px 10px;
}

.feature-cards .feature-title hr {
    width: 10%;
    margin: 20px auto;
    background: black !important;
    height: 5px;
    opacity: 1;
    border-radius: 5px;
}


/* Bortitokep */
#borito img {
    max-width: 100%;
    height: auto;
}

.breadcrumb li a {
    color: #bf0404;
    text-decoration: none;
}

.breadcrumb li a:hover {
    color: red;
}

@media all and (min-width: 992px) {
    .navbar {
        padding-top: 0;
        padding-bottom: 0;
    }

    .navbar .has-megamenu {
        position: static !important;
    }

    .navbar .megamenu {
        left: 0;
        right: 0;
        width: 100%;
        padding: 20px;
    }

    .navbar .nav-link {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

@media only screen and (max-width: 768px) {
    .home-title {
        font-size: 28px !important;
    }
}


.page-footer li {
    color: black !important;
}


.footer-contact li ul {
    margin-left: 15px;
}

/* Home title */

