{% extends "main/base.html" %}

{% load static %}
{% load mptt_tags %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/extra_style.css' %}"/>
{% endblock %}


{% block content %}

    <div class="row my-5">

    {% for node in kategoriak %}
        {% if forloop.counter0 == 0 %}
            <h2 class="home-title">Pólók, törölközők gépi hímzése</h2>
        {% endif %}
        {% if forloop.counter0 == 3 %}
            <h2 class="home-title">Az ár a hímzést tartalmazza</h2>
        {% endif %}
        {% if forloop.counter0 == 13 %}
            <h2 class="home-title">Lógók, felvarrók hímzése</h2>
        {% endif %}
        {% if forloop.counter0 == 20 %}
            <h2 class="home-title">Minőségi munka, gyors határidő</h2>
        {% endif %}

        {% if node.is_root_node and node.status %}
                    <div class="card-thumbs col-lg-4 col-md-6 col-sm-12 mb-4">
                        <a href="{% if not node.is_leaf_node %}{% url 'kategoriak' id=node.id slug=node.slug %}{% elif node.is_leaf_node %}{% url 'termekek' id=node.id slug=node.slug %}{% endif %}">
                            <div class="card">
                                <div class="card-body" style="background-image: url({{ node.image.url }}); background-position: center; background-repeat: no-repeat; background-size: cover;"></div>

                                <div class="card-title text-center mb-0" {% if node.nev|length >= 35 %}style="font-size: 14px!important;"{% endif %}>{{ node.nev }}</div>
                            </div>
                        </a>

                    </div>
                {% endif %}
    {% endfor %}



    </div>
{% endblock %}