h2 {
    font-size: 33px !important;
}

.paletta {
    border-radius: 50%;
    height: 25px;
    width: 25px;
    margin: 3px;
    position: relative;

}

.paletta:hover {
    cursor: pointer;
}

.paletta .tooltiptext {
    visibility: hidden;
    background-color: black;
    width: 100px;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 2px;
    opacity: 0.8;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 120%;
    left: 50%;
    margin-left: -25px;
}

.paletta:hover .tooltiptext {
    visibility: visible;
}

.pro-img {
    max-width: 400px;
    max-height: 453px;
}
.parent-color {
    border-radius: 50%;
}
.active-color {
border:2px solid #000;
}

